<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954769418848-g8p3qgkjncc0vfniload3rkiqdvl45f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954769418848-g8p3qgkjncc0vfniload3rkiqdvl45f5</string>
	<key>API_KEY</key>
	<string>AIzaSyAUrO0rCA8S8WENz_ygCNLETv7SV9un1dw</string>
	<key>GCM_SENDER_ID</key>
	<string>954769418848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>vanet-prototype1</string>
	<key>STORAGE_BUCKET</key>
	<string>vanet-prototype1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954769418848:ios:907390bfbc5e6617f77105</string>
	<key>DATABASE_URL</key>
	<string>https://vanet-prototype1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>